body {
    background-color: rgb(23, 27, 37);
    color: rgb(235, 236, 247);
    margin: 0px !important;
    width: 455px;
    font-family: Inter, Helvetica Neue, Arial, sans-serif;
}

.popup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: rgb(12, 13, 15);
}

.header-logo {
    height: 24px;
}

.header-text {
    border-left: 1px solid;
    border-color: rgb(59, 67, 91);
    padding-left: 8px;
    font-size: 16px;
}

.input-group {
    font-size: 16px;
    background-color: rgb(30, 34, 45);
    border: 1px solid rgb(59, 67, 91);
    border-radius: 4px;
    margin: 6px;
}

.input-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.input-labels {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    gap: 5px;
}

.input-header {
    font-weight: bold;
    font-size: 16px;
}

.input-description {
    font-size: 14px;
}

.select-input {
    border-bottom: 1px solid rgb(59, 67, 91);
}

select {
    height: 28px;
    color: rgb(235, 236, 247);
    border: 1px solid rgb(59, 67, 91);
    border-radius: 2px;
    background-color: rgb(23, 27, 37);
}

/* switch - adapted from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(59, 67, 91);
    border-radius: 18px;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(23, 27, 37);
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: rgb(41, 221, 204);
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}